#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define WIN     0
#define SYS     1
#define COMBO   2
#define COMFN   3
/ {
    keymap {
        compatible = "zmk,keymap";
        
        windows_UIJK {
            bindings = <
                &kp TAB     &kp Q       &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O       &kp P       &kp BSPC        &kp DEL
                &kp LCTRL   &kp CAPS    &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K       &kp L       &kp SEMICOLON   &kp ENTER
                &kp LWIN    &kp LSHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA   &kp PERIOD  &kp RSHIFT      &kp ENTER
                &kp CAPS    &kp LGUI                                    &lt COMBO SPACE                       &kp RGUI    &kp GLOBE       &kp CAPS
            >;
        };

        sys_layer {
            bindings = <
                &none       &out OUT_TOG     &bt BT_DISC 0    &bt BT_DISC 1    &bt BT_DISC 2    &bt BT_DISC 3    &bt BT_DISC 4  &bt BT_CLR  &none       &none         &sys_reset  &soft_off   &bootloader     
                &none       &none            &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4   &none       &none       &none         &none       &none       &none        
                &none       &none            &none            &none            &none            &none            &none          &none       &none       &none         &none       &none       &none
                &mo SYS     &none                                                               &none                                                   &none         &none                   &mo SYS
            >;
        };

        combo {
            bindings = <
                &kp ESC     &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp N1      &kp N2      &kp N3      &kp N4      &trans          &trans
                &trans      &trans      &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &kp C_PP    &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp APOS        &trans
                &trans      &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp LBKT    &kp RBKT   &kp MINUS   &kp EQUAL   &kp GRAVE   &kp FSLH    &trans          &mo SYS
                &trans      &trans                                          &trans                                                      &trans      &mo COMFN       &trans
            >;
        };

        comfn_layer {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans          &mo SYS
                &trans      &trans                                          &trans                                                      &trans      &trans          &trans
            >;
        };
   };
};
